@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #202020;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 30px;
    background: #FFF;
    z-index: 0;
}

.navbar{
    display: flex;
    align-items: center;
    align-self: stretch;
}

.logo{
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.logo-container{
    display: flex;
    width: 120px;
    padding: 0.5rem 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 0px 0px 30px 0px;
    background: #202020;
}

.navlinks{
    display: flex;
    padding: 1rem 1.5rem 1rem 2rem;
    align-items: center;
    align-content: center;
    gap: 3rem;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}

.navlink{
    color: #202020;
    text-align: center;
    text-decoration: none;

    font-family: BioRhyme;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0625rem;
}

.contact-links{
    display: flex;
    padding: 25px 50px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 50px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.contact-links-bottom{
    display: flex;
    padding: 2.5rem 5rem;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 30px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.profile{
    width: 690px;
    height: 661px;
    flex-shrink: 0;
    margin-bottom: -2.5rem;
}

.curve{
    width:100%;
    align-self: stretch;
    fill: #202020;
    margin-bottom: -5px;
    margin-top: -5rem;
}

.curve-bottom{
    width:100%;
    align-self: stretch;
    fill: #202020;
    margin-top: -0.5rem;
    transform: rotate(180deg);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    background: #202020;
    margin-top: 3rem;
    z-index: 1;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.625rem 4.0625rem;
    align-self: stretch;
    flex-wrap: wrap;
    background: #202020;
}

.rect-left{
    height: 2.125rem;
    flex: 1 0 0;
    border-radius: 0rem 3.125rem 3.125rem 0rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.greeting{
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 6.25rem;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.rect-right{
    height: 2.125rem;
    flex: 1 0 0;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.about{
    display: flex;
    padding: 3.125rem 6.25rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
    gap: 5rem;
    align-self: stretch;
}

.about-desc{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-1{
    display: flex;
    padding: 0rem 3.125rem 3.125rem 3.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border-radius: 3.125rem;
    border-bottom: 10px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.10) 100%);

    color: #FFF;
    text-align: center;
    font-family: BioRhyme;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.abt-1-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.375rem;
}

.about-1-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.375rem;
}

.about-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 3.125rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.rbg-container{
    display: flex;
    height: 50rem;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;

    border-radius: 3.125rem;
    border-top: 10px solid #FFF;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.red-circle{
    display: flex;
    width: 25rem;
    height: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 15.625rem;
    background: rgba(239, 43, 42, 0.50);

    color: #FFF;
    text-align: center;
    font-family: BioRhyme;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.red-circle:hover{
    width: 30rem;
    height: 30rem;
    box-shadow: -20px 20px 50px 0px rgba(0, 255, 41, 0.50), 20px 20px 50px 0px rgba(255, 0, 0, 0.50), 0px -20px 50px 0px rgba(0, 71, 255, 0.50);
}

.blue-green{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8.5rem;
}

.green-circle{
    display: flex;
    width: 25rem;
    height: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 15.625rem;
    background: rgba(4, 194, 24, 0.50);
    margin-right: -3.5rem;

    color: #FFF;
    text-align: center;
    font-family: BioRhyme;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.green-circle:hover{
    width: 30rem;
    height: 30rem;
    box-shadow: -20px 20px 50px 0px rgba(0, 255, 41, 0.50), 20px 20px 50px 0px rgba(255, 0, 0, 0.50), 0px -20px 50px 0px rgba(0, 71, 255, 0.50);
}

.blue-circle{
    display: flex;
    width: 25rem;
    height: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 15.625rem;
    background: rgba(0, 61, 217, 0.50);
    margin-left: -3.5rem;

    color: #FFF;
    text-align: center;
    font-family: BioRhyme;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.blue-circle:hover{
    width: 30rem;
    height: 30rem;
    box-shadow: -20px 20px 50px 0px rgba(0, 255, 41, 0.50), 20px 20px 50px 0px rgba(255, 0, 0, 0.50), 0px -20px 50px 0px rgba(0, 71, 255, 0.50);
}

.rbg-desc{
    flex: 1 0 0;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-3{
    display: flex;
    padding: 1.5625rem 3.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.75rem;
    align-self: stretch;

    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rect-full{
    height: 0.625rem;
    align-self: stretch;

    border-radius: 3.125rem;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.62) 31.39%, #FFF 50.68%, rgba(255, 255, 255, 0.00) 100%);
}

.skills{
    display: flex;
    padding: 3.125rem 6.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.125rem;
    align-self: stretch;
}

.skillset{
    display: flex;
    padding: 3.125rem 0rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3rem 3rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.skill-item{
    padding: 1em;
    border-radius: 2em;
    box-shadow:none;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.skill-item:hover{
    background: #FFF;
    box-shadow: -20px 20px 50px 0px rgba(0, 255, 41, 0.50), 20px 20px 50px 0px rgba(255, 0, 0, 0.50), 0px -20px 50px 0px rgba(0, 71, 255, 0.50);
}

.experience{
    display: flex;
    align-items: flex-start;
    gap: 0.9375rem;
    align-self: stretch;
}

.year{
    display: flex;
    padding: 1.5625rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.625rem;

    border-radius: 3.125rem 0rem 0rem 3.125rem;
    background: rgba(255, 255, 255, 0.10);

    color: #FFF;
    text-align: center;
    font-family: BioRhyme;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.exp-content{
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;

    border-radius: 0rem 3.125rem 3.125rem 3.125rem;
    background: linear-gradient(110deg, rgba(255, 255, 255, 0.10) 14.12%, rgba(153, 153, 153, 0.00) 100%);
}

.exp-row{
    display: flex;
    padding: 1.25rem;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

.exp-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    flex: 1 0 0;
}

.organization{
    color: #FFF;
    text-align: center;
    font-family: BioRhyme;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    text-align: left;

}

.role{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.role-desc{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.works{
    display: flex;
    padding: 3.125rem 6.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    align-self: stretch;
}

.project{
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3rem;
    align-self: stretch;
    flex-wrap: wrap;

    border-radius: 1.25rem;
    background: linear-gradient(266deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);  
}

.project-info{
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8125rem;
    flex: 1 0 0;
}

.project-title{
    color: #FFF;
    font-family: BioRhyme;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tech-stack{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.9375rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.stack-item{
    height: 3.125rem;
}

iframe{
    border-radius: 2em;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}

iframe:hover{
    box-shadow: -20px 20px 50px 0px rgba(0, 255, 41, 0.50), 20px 20px 50px 0px rgba(255, 0, 0, 0.50), 0px -20px 50px 0px rgba(0, 71, 255, 0.50);
}

.project-desc{
    align-self: stretch;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;

    border-radius: 1.875rem;
    background: #FFF;
}

.footer-content{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}